.header {
    /* border: red solid 2px; */
    margin-top: 0;
    display: flex;
    height: 10vh;
    padding: 0;
    /* background-color: #daf3fb08; */
    position: sticky;
    top:0;
    z-index: 99;
    width: 50%;
    justify-self: center;
}

.header li {
    border-bottom: var(--header-line) 1px solid;
    
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    z-index: 99;
    position: relative;
    
}

.header li:hover {
    cursor: pointer;
    border-bottom: #aed5e8 4px solid;
}


