html, body, #root {
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
  background: linear-gradient(1deg, #000000, #11111d);
  color: var(--text-color);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
}


