.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    z-index: -1;
    overflow: hidden;
}

.background .shape {
    position: absolute;
    background-color: rgba(0, 255, 255, 0.668);
}